body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

h1{

  font-size: 5rem;
  text-shadow: 0 0 15px  #00aaff;
  color: #fefeff;
  animation: title 1s infinite;
}

@keyframes title{
  50% {
    text-shadow: 0 0 15 px #fefeff;
    color: #00aaff;
  }
}

